
.vs/ImaginationStore/v15/.suo
.vs/ImaginationStore/v15/Server/sqlite3/storage.ide-shm
ImaginationStore.Presentation/obj.rar

.vs/ImaginationStore/ImaginationStore.Presentation/obj
Exemplos_ASPNETCore2.0/
*.config

.vs/ImaginationStore/v15/Server/sqlite3/storage.ide-shm
.vs/ImaginationStore/v15/Server/sqlite3/storage.ide-wal
NerdDinner/
ImaginationStore.Domain/obj/Debug/ImaginationStore.Domain.csproj.FileListAbsolute.txt
