
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Menu imagination Store</title>

</head>
<body>


    <h1 align="Center">
        Imagination Store
    </h1>


    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Categoria

            </tr>
        </thead>
        <tbody>
            <!--     @foreach(var categoria in ViewBag.BuscarCategoria())
          {
          <tr>
              <td>@categoria.Codigo</td>
              <td>@categoria.Nome</td>
          </tr>
          }  -->
        </tbody>
    </table>

    <br>
    <br>

    <ul class="menu-li">
        <li>
            <a href="CadastrarClientes.html">Cliente</a>
        </li>

        <li>
            <a href="Venda.html">Venda</a>
        </li>

        <li>
            <a href="#">Fornecedor</a>
        </li>

        <li>
            <a href="#">Produto</a>
        </li>
    </ul>

    <script src="C:/Users/juan.vilella/source/repos/ImaginationStore/ImaginationStore.Console.Presentation/Scripts/script.js"></script>

</body>

</html>
