
@{
    ViewBag.Title = "Index";
}

<h5>
    Cliente
</h5>
<div class="p-3 bg-white">
    <form method="post">
        <!--CADASTRAR CLIENTE-->
        <fieldset>
            <legend>Informações Pessoais</legend>
            <table cellspacing="10">
                <tr>
                    <td>

                        Codigo: @Html.TextBox("CodigoCliente", "1", new { maxlength = 50, type = "text" })

                        <label for="codigo" name="codigo">Código: </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nome">Nome: </label>
                    </td>
                    <td align="left">
                        <input type="text" name="nome">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="tefefone">Telefone: </label>
                    </td>
                    <td align="left">
                        <input type="text" name="telefone"
                               placeholder="ex.:(DDD) 1234-5678"
                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                               required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="filiacao">Filiação: </label>
                    </td>
                    <td align="left">
                        <input type="text" name="filiacao">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="status">Status do Cliente: </label>
                    </td>
                    <td align="left">
                        <select>
                            <option value="1">BOM</option>
                            <option value="2">MÉDIO</option>
                            <option value="3">RUIM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="limiteCredito">Limite de Crédito: </label>
                    </td>
                    <td align="left">
                        <input type="text" name="limiteCredito">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <br />
    <form method="get" action=".">
        <!-- ENDEREÇO -->
        <fieldset>
            <legend>Dados de Endereço</legend>
            <table cellspacing="10">
                <tr>
                    <td>
                        <label for="cep">Cep: </label>
                    </td>
                    <td align="left">
                        @Html.TextBox("cep", Convert.ToInt32(Console.ReadLine()))
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rua">Rua:</label>
                    </td>
                    <td align="left">
                        @Html.TextBox("")
                        <input name="rua" type="text" id="rua">
                    </td>
                    <td>
                        <label for="numero">Numero:</label>
                    </td>
                    <td align="left">
                        <input name="numero" type="text" id="numero" size="4" maxlength="5">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="bairro">Bairro: </label>
                    </td>
                    <td align="left">
                        <input name="bairro" type="text" id="bairro">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cidade">Cidade: </label>
                    </td>
                    <td align="left">
                        <input name="cidade" type="text" id="cidade">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="estado">Estado: </label>
                    </td>
                    <td align="left">
                        <input name="uf" type="text" id="uf" size="1" maxlength="2" /><br />
                    </td>
                </tr>
                <tr>
            </table>
            <br />
        </fieldset>


        </fieldset>
    </form>
    <br />
</div>